@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/* general */
*{
    box-sizing: border-box;
    margin:0
}
body{
    background-color: aliceblue;
    font-family:'Fredoka One', sans-serif;
}
button {
    cursor: pointer;
    font-family:'Fredoka One', sans-serif;
    font-size: .7em;
}
.app-wrap{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    gap:.1em;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 243, 181);
    color:rgb(82, 74, 62);
    font-size:1.2em;
}
span{
    padding-left: .3em;;
}

/* header */
h1{
    margin: .5em 0;
    color:rgb(63, 71, 64);
    letter-spacing: .1em;
}
.header input{
    margin: 1em 0;
    border:2px solid rgb(206, 216, 206);
    outline:none;
    width:400px;
    border-radius: 5px;
    height:40px;
    font-family:'Fredoka One', sans-serif;
    font-size:1.1em;
}

.header input:focus{
    border:1px solid rgb(151, 212, 221);
    box-shadow: 2px 2px 5px 0 rgba(1, 11, 18, 0.2);
}

/* list */
.todo-container{
    width:400px;
    height:fit-content;
    border-radius: 5px;
}
.todo-item{
    list-style: none; 
    border:solid 2px rgb(155, 146, 27);
    display:inline-block;
    width:100%;
    margin-bottom:1px;
    border-radius: 5px;
    padding:10px;
}
.todo-item:hover{
    background-color: rgb(233, 185, 131);
    color:white;
    box-shadow: 0 0 10px 0 rgb(235, 235, 175);
}
.todo-main{
    padding:0;
}
/* solve the unexpected padding on the left */
.todo-item-label{
    float: left;
    margin-left: 10px;
    padding:5px;
}

.btn-delete{
    background-color: rgb(250, 91, 28);
    color: white;
    border: 1px solid rgb(194, 136, 60);
    border-radius: 5px;
    padding:7px;
    float:right;
}
.btn-delete:hover{
    background-color:rgb(211, 14, 14);
    box-shadow: 0 0 10px 0 rgb(236, 231, 210);
}

/* footer */
.todo-footer{
    border:solid 2px rgb(13, 46, 5);;
    width:400px;
    display:inline-block;
    border-radius: 5px;
    padding:20px 10px;
    margin-bottom: 1em;
}
.todo-footer-label{
    float:left;
    margin-left: 10px;
    padding:5px;
}
.btn-footer{
    background-color: rgb(250, 91, 28);
    color:white;
    border: 1px solid rgb(194, 102, 60);
    border-radius: 5px;
    padding:7px;
    float:right;
}
.btn-footer:hover{
    background-color:rgb(211, 14, 14);
    box-shadow: 0 0 10px 0 rgb(236, 231, 210);
}